<h1>Register</h1>
<main>
    <form action="/register" method="post">
    <input class="nome" type="text"  placeholder="Name" name="nome" >
    <input class="senha" type="password" placeholder="Password" name="senha"> <br>
    <input class="email" type="text" placeholder="Email" name="email">
    <input class="cpf" type="text" placeholder="Cpf" name="cpf"> <br>
    <input type="radio" name="sexo" value="M" id="r1"> Masculino 
    <input type="radio" name="sexo" id="r2" value="F"> Feminino
    <br>
    <button>Enviar</button>
</form>

</main>
