<h1>PAGINA PRINCIPAL</h1>

<tr>
    <th>id</th>
    <th>nome</th>
    <th>idade</th>
    
</tr>


{{#each cadastro}}
    <table>
            <td>{{dataValues.id}}</td> 
            <td>{{dataValues.nome}}</td>
            <td>{{dataValues.idade}}</td>
        </tr>

    </table>
    <a href="/deletar/{{dataValues.id}}"><button>DELETAR</button></a>
    
{{/each}}